.nav-container {
  font-family: 'PretendardVariable';
  color: #333;
  background: #ffffff;
  width: 100%;
  min-width: 880px;
  display: flex;
  height: 74px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  z-index: 99;
}
.hr {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 75px;
  left: 0;
  border-bottom: 2px solid #f6f6f6;
}

.menu-ul {
  display: flex;
  margin: 0;
  padding-left: 0;
  z-index: 100;
  transform: translateX(60px);
}
.menu-ul li {
  padding: 20px;
  cursor: pointer;
  font-size: 16px;
}
.menu-login {
  display: flex;
  margin-left: auto;
  margin-right: 90px;
  padding-left: 0;
  z-index: 100;
}
.li-login {
  margin-top: 10px;
}
.menu-login li {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* 네비 호버영역 */
.nav-hover {
  width: 100%;
  height: 224px;
  background: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: row;
  padding-left: 138px;
  padding-top: 15px;
  transform: translateY(60px);
  z-index: 100;
}
.notice-menu {
  margin-left: 23px;
}

.support-menu {
  margin-left: 26px;
}
.login-menu {
  margin-left: auto;
  transform: translateX(-250px);
}
.menu-hover {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.menu-hover li {
  width: 72px;
  height: 38px;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  font-family: 'PretendardVariable';
  cursor: pointer;
}

.hover-icon {
  position: absolute;
  right: 250px;
  top: 90px;
  z-index: 99;
}
.profile {
  cursor: pointer;
  font-size: 16px;
}
.profile label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.profile-txt {
  font-weight: bold;
  margin-right: 5px;
}
.profile-img {
  margin-left: 10px;
  line-height: 5px;
}
.profile-img img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
