
.nav-container {
 font-family: "PretendardVariable";
 color:#333;
 background: #FFFFFF;
 display: flex;
 width:1280px;
 height:54px;
 margin:0 auto;
 font-weight: 600;
 font-size: 16px;
}

.menu-left {
 width: 100%;
 display: flex;
 
}

.menu-ul {
 width: 100%;
 list-style: none;
 position: relative;
}
.menu-ul li{ 
 float:left;
 padding: 20px
}

.login {
 position: absolute;
 right:30px;
 float:right !important
}