.notice-subtit {
  font-family: 'PretendardVariable';
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
.notice-outer-container {
  font-family: Pretendard;
  display: flex;
  flex-direction: column;
}
.notice-search-area {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.notice-search-area select {
  border: 1px solid #f2f2f2;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  color: #666;
  padding: 0 10px 0 10px;
}
.notice-search-area select option {
  font-weight: 400;
  font-size: 16px;
  width: 28px;
  height: 19px;
  padding: 20px;
}
.notice-search-area input {
  outline: none;
  border: 1px solid #f2f2f2;
  width: 470px;
  height: 40px;
  border-radius: 8px;
  padding-left: 10px;
}
.notice-search-area input::placeholder {
  color: #a6a6a6;
  font-weight: 400;
  font-size: 16px;
}
.notice-search-area input:focus {
  outline: none;
  border: 1px solid #f2f2f2;
}
.notice-search-area button {
  color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: #82d3ac;
  border: none;
}
.notice-flexitem {
  position: relative;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

/* 버튼시작 */

/* 공통 */
.page-btns-container ul {
  display: flex;
  flex-direction: row;
}
.page-btns-container ul li {
  width: 40px;
  height: 40px;
}
.page-btns-container {
  gap: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 왼쪽버튼 */
.page-all-left ul {
  padding: 0;
}
.all-left-btn {
  position: absolute !important;
  left: 10px;
}
.page-all-left ul li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #82d3ac;
  position: relative;
}
.page-all-left ul li:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.page-all-left ul li:nth-child(2) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.page-all-left img {
  transform: scaleX(-1);
  width: 30px;
  height: 30px;
}

/* 센터버튼 */
.page-btns-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-btns-center ul {
  padding: 0;
  border: 1px solid #82d3ac;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.page-btns-center ul li {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.page-btns-center ul .active {
  color: #fff;
  background: #82d3ac;
  border-radius: 6px;
}
.dja-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 오른쪽 버튼 */

.page-all-right ul li:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.page-all-right ul li:nth-child(2) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.page-all-right ul {
  padding: 0;
}
.all-right-btn {
  position: absolute !important;
  left: 10px;
}
.page-all-right ul li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #82d3ac;
  position: relative;
}

.page-all-right img {
  width: 30px;
  height: 30px;
}

/* 글쓰기버튼 */

.page-btn-write {
  position: absolute;
  right: 8px;
}
.page-btn-write > button {
  font-family: 'PretendardVariable';
  border: 1px solid #82d3ac;
  width: 120px;
  height: 40px;
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
}
