.container {
  width: 1080px;
  margin: 30px auto 0 auto;
}
.main-img {
  width: 100%;
  position: relative;
}
.wrap {
  background-color: #ffffff;
  border-radius: 30px 30px 0 0;
  z-index: 1;
  transform: translateY(-250px);
  padding-top: 60px;
}
.profile-info-wrap {
  padding: 0 60px;
}
.profile-info-wrap label {
  display: flex;
  align-items: center;
}
.profile-my-img {
  border-radius: 100%;
  width: 120px;
  height: 120px;
}
.profile-update {
  display: none;
}
.profile-img-btn {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 1;
}
.default-profile-img {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 100%;
}
.profile-setup {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(80px, 80px);
  background-color: #82d3ac;
}
.profile-setup img {
  width: 30px;
  height: 30px;
}
.profile-info-title {
  margin-left: 20px;
}
.profile-info-title .name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.profile-info-title .protect {
  color: #737373;
  font-size: 14px;
}
.profile-info-title .intro {
  color: #737373;
  font-size: 14px;
}
.profile-info-input {
  margin-top: 40px;
}
.profile-info-item1 {
  width: 75%;
  margin: 10px 0;
}
.profile-info-name span {
  font-weight: bold;
  font-size: 18px;
}
.profile-info-name input {
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  width: 200px;
  height: 40px;
  transition: border 0.4s;
  padding: 1px 2px 1px 10px;
  color: #666666;
  margin-left: 70px;
}
.profile-info-name input:focus {
  outline: none;
  border: 1px solid #82d3ac;
}
.profile-info-email {
  float: right;
}
.profile-info-email span {
  font-weight: bold;
  font-size: 18px;
}
.profile-info-email input {
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  width: 200px;
  height: 40px;
  transition: border 0.4s;
  padding: 1px 2px 1px 10px;
  color: #666666;
  margin-left: 54px;
}
.profile-info-email input:focus {
  outline: none;
  border: 1px solid #82d3ac;
}
.profile-info-family span {
  font-weight: bold;
  font-size: 18px;
}
.profile-info-family input {
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  width: 200px;
  height: 40px;
  transition: border 0.4s;
  padding: 1px 2px 1px 10px;
  color: #666666;
  margin-left: 35px;
}
.profile-info-family input:focus {
  outline: none;
  border: 1px solid #82d3ac;
}
.profile-info-address {
  float: right;
}
.profile-info-address span {
  font-weight: bold;
  font-size: 18px;
  padding-right: 18px;
}
.profile-info-address input {
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  width: 200px;
  height: 40px;
  transition: border 0.4s;
  padding: 1px 2px 1px 10px;
  color: #666666;
  margin-left: 30px;
}
.profile-info-address input:focus {
  outline: none;
  border: 1px solid #82d3ac;
}
.profile-info-activity {
  float: right;
}
.profile-info-activity span {
  font-weight: bold;
  font-size: 18px;
}
.profile-info-activity input {
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  width: 200px;
  height: 40px;
  transition: border 0.4s;
  padding: 1px 2px 1px 10px;
  color: #666666;
  margin-left: 30px;
}
.profile-info-activity input:focus {
  outline: none;
  border: 1px solid #82d3ac;
}
.activity-select {
  cursor: default;
}
.activity-select-img {
  position: absolute;
  transform: translate(-35px, 9px);
}
.activity-option {
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  width: 200px;
  /*transition: border 0.4s;*/
  position: absolute;
  background-color: #ffffff;
  padding: 4px 6px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  margin-top: 5px;
  text-align: left;
  z-index: 1;
  transform: translateX(105px);
}
.option {
  padding: 7px 5px;
  cursor: default;
}
.option:hover {
  background-color: #82d3ac;
  border-radius: 8px;
  color: #ffffff;
}
.profile-info-introduce {
  margin-top: 70px;
}
.profile-info-introduce span {
  font-weight: bold;
  font-size: 18px;
}
.profile-info-introduce textarea {
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  width: 900px;
  height: 120px;
  transition: border 0.4s;
  padding: 10px;
  color: #666666;
  resize: none;
  margin-top: 10px;
}
.profile-info-introduce textarea:focus {
  outline: none;
  border: 1px solid #82d3ac;
}
.profile-btn {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}
.profile-cancel {
  width: 180px;
  height: 40px;
  margin-right: 2px;
  border-radius: 10px;
  border: 1px solid #82d3ac;
  background-color: #ffffff;
  cursor: pointer;
}
.profile-register {
  width: 180px;
  height: 40px;
  margin-left: 2px;
  border-radius: 10px;
  background-color: #82d3ac;
  border: 1px solid #82d3ac;
  color: #ffffff;
  cursor: pointer;
}
