.community-body-flex {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.community-body-flex .flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.community-body-flex .flex-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(33.333% - 10px);  /*3개씩 배치*/
  box-sizing: border-box; 
}
.community-body-flex .flex-item div{
  cursor: pointer;
}
.community-body-flex .thumb-wrapper {
  cursor: pointer;
  width: 255px;
  height: 255px;
}


.community-body-flex .flex-item p {
  width: 231px;
  height: auto;
  margin-bottom: 10px;
}

.community-body-flex .flex-item h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}



