.guide2-container {
  font-family: 'PretendardVariable';
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  gap: 30px;

}
.guide2-innerContainer {
  display: flex;
  flex-direction: column;
  /*flex-direction: row;*/
}
.guide2-1img {
  width: 900px;
  height: 310px;
  display: flex;
  margin: 0 auto;

}
.guide2-2img {
  width: 900px;
  height: 310px;
  display: flex;
  margin: 40px auto 0 auto;
}
.guide2-3img {
  width: 700px;
  height: 500px;
  display: flex;
  margin: 30px auto 0 auto;
}
.guide2-innerContainer p {
  font-size: 20px;
  color: #888888;
  line-height: 1.4;

}
.guide2-innerContainer:nth-child(2) p {
  letter-spacing: 1.5px;
  line-height: 1.5;
}
.guide-sub1 {
  color: #ffc1c8;
  margin-bottom: 20px;
}
.guide-sub1 span {
  margin-right: 30px;
}

.guide-sub2 {
  color: #a6bc00;
  margin-bottom: 20px;
}
.guide-sub2 span {
  margin-right: 30px;
}

.guide-sub3 {
  color: #5733b1;
  margin-bottom: 20px;
}
.guide-sub3 span {
  margin-right: 30px;
}


#map {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.organi-container {
  background-image: url('@/common/imgs/조직도선.png');
  background-repeat: no-repeat;
  background-position: center; /* 키워드 설정 */
  width: 1020px;
  height: 580px;
}
.head-tr {
  margin-top: -38px;
  margin-left: 417px;
}
.head1-td {
  width: 184px;
  height: 87px;
  border-radius: 100px;
  background: #f0f8e8;
  padding: 7px;
}
.head2-td {
  border-radius: 100px;
  background: #c4ecbd;
  width: 184px;
  height: 87px;
  z-index: 100;
  padding: 7px;
}
.head3-td {
  width: 184px;
  height: 87px;
  border-radius: 120px;
  background: #82d3ac;
  box-shadow: 0px 4px 6px 0px rgba(131, 212, 178, 0.11);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.organi-name1 {
  color: #fff;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.organi-name2 {
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.simple-tr {
  margin-top: 50px;
  margin-left: 680px;
}
.simple-td {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 141px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid #82d3ac;
  background: #fff;
  box-shadow: 0px 4px 6px 0px rgba(131, 212, 178, 0.11);
}
.ml-type1 {
  margin-top: 28px;
  margin-left: 438px;
}
.ml-type2 {
  margin-top: 27px;
  margin-left: 680px;
}
.depart-td {
  color: #fff;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 45px;
  border-radius: 100px;
  border: 1px solid #82d3ac;
  background: #82d3ac;
  box-shadow: 0px 4px 6px 0px rgba(131, 212, 178, 0.11);
}
.ml-type3 {
  margin-top: 37px;
  margin-left: 233px;
  gap: 60px;
  display: flex;
  flex-direction: row;
}
.ml-type4 {
  margin-top: 25px;
}
.ml-type5 {
  margin-top: 20px;
  margin-left: 436px;
}
